<footer class="footer">
    <div class="container-fluid">
        <!-- <ul class="nav">
            <li class="nav-item">
                <a target="_blank" href="https://appseed.us/product/black-dashboard/" class="nav-link">
                    Download
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="https://appseed.us/support/" class="nav-link">
                    Support
                </a>
            </li>
        </ul> -->
        <div class="copyright">
            &copy; Denny Husniansyah Site</a> - coded by Denny H.
        </div>
    </div>
</footer>