{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
    <div class="row">
        <div class="col-6">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5 class="card-category">Input</h5>
                            <h2 class="card-title">Calculate 2 string</h2>
                            
                            <form role="form" method="post" action="">
                                {{ form.hidden_tag() }}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Input 1</label>
                                        {{ form.string1(class="form-control") }}
                                    </div>
                                    <div class="form-group">
                                        <label>Input 2</label>
                                        {{ form.string2(class="form-control") }}
                                    </div>
                                    <div class="text-left ">
                                        <div class="form-group">
                                            <button type="submit" name="test" class="btn btn-fill btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
                <div class="card-header ">
                    <h6 class="title d-inline">List Result</h6>
                    
                    {% if string %}
                    <span class="text-danger">{{ percentage | safe }} %</span>
                    {% endif %}
                    <div class="table-full-width table-responsive">
                        <table class="table">
                            <tbody>
                    
                                
                                <tr>
                                    <td>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <span>&#8226;</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="title">{{ result | safe }} </p>
                                    </td>
                                    
                                </tr>
                    
                    
                                
                    
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="card-body ">
                    <div class="table-full-width table-responsive">
                        <table class="table">
                            <tbody>

                               

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}